html, body {
  height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

#canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  #canvas {
    padding: 0;
  }
}

/* GENERIC */
.m-r-10{
  margin-right: 10px;
}


/* PAGE */
#main{
  padding-top: 50px;
}

#lookup *{
  border: none;
  border-radius: 0;
}
#lookup{
  border-bottom: 1px solid #ddd;
}

.navmenu .title{
  font-size: 14px;
  padding: 10px 15px;
  color: #aaa;
}

.navmenu .navmenu-nav > li > a{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed rgba(255,255,255,0.5);
}
.api-get{
  background: #3498db;
}
.api-post{
  background: #2ecc71;
}
.api-put{
  background: #1abc9c;
}
.api-delete{
  background: #e74c3c;
}
