doctype html
html(lang="en" ng-app='docs')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href="/docs/assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="/docs/assets/css/jasny-bootstrap.min.css" rel="stylesheet")
    link(href="/docs/assets/css/material-design-iconic-font.min.css" rel="stylesheet")
    link(href="/docs/assets/css/main.css" rel="stylesheet")
    script(src="/docs/assets/js/angular.min.js")
    script(src="/docs/assets/js/angular-ui-router.min.js")
    script(src="/docs/assets/js/moment.js")
    script(src="/docs/assets/js/angular-moment.min.js")
    script(src="/docs/assets/js/jquery.min.js")
    script(src="/docs/assets/js/bootstrap.min.js")
    script(src="/docs/assets/js/jasny-bootstrap.min.js")
    script(src="/docs/assets/js/ui-bootstrap.min.js")
    script(src="/docs/assets/js/ui-bootstrap-tpls.min.js")
    script(src="/docs/assets/js/main.js")
    title API Documentation
  body(ng-controller='mainController')
    .navmenu.navmenu-default.navmenu-fixed-left.offcanvas#mainMenu(role="navigation")
      .form#lookup
        .input-group
          input.form-control(placeholder='Search')
          span.input-group-addon
            i.zmdi.zmdi-search-for
      uib-accordion(close-others="true")
        div.uib-accordion-group(ng-repeat='connection in connections')
          .panel-heading
            .panel-title
              i.zmdi.zmdi-view-list.m-r-10
              span(ng-repeat='label in connection.labels') {{label}}
              .pull-right
                i.zmdi.zmdi-info(tooltip-placement='right' uib-tooltip='{{connection.info.uri}}' tooltip-append-to-body='true')
          ul.nav.navmenu-nav
            li(ng-repeat='api in connection.table' ng-class="{ GET: 'api-get', POST: 'api-post', PUT: 'api-put', DELETE: 'api-delete' }[api.method]")
              a(ng-click='select(api)') {{api.method}} {{api.path}}
    #canvas
      .navbar.navbar-default.navbar-fixed-top
        button.navbar-toggle(type="button" data-toggle="offcanvas" data-target="#mainMenu" data-canvas="#canvas")
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #main.container-fluid
        .row
          .col-sm-12
