include fields.pug

doctype html
html(lang="en" ng-app='docs')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href="/docs/assets/build/main.css" rel="stylesheet" type="text/css")
    script(src="/docs/assets/build/main.js")
    title API Documentation
  body(ng-controller='mainController')
    .navmenu.navmenu-default.navmenu-fixed-left.offcanvas#mainMenu(role="navigation")
      .form#lookup
        .input-group
          input.form-control(placeholder='Search' ng-model='filterTerm')
          span.input-group-addon.pointer(ng-click='filterTerm=""')
            i.zmdi.zmdi-search-for(ng-hide='filterTerm')
            i.zmdi.zmdi-close(ng-show='filterTerm')
      div(ng-repeat='connection in connections')
        .title.pointer(ng-click='toggle(connection)')
          i.zmdi.zmdi-view-list.m-r-10
          span(ng-repeat='label in connection.labels') {{label}}
          .pull-right
            i.zmdi.zmdi-info(tooltip-placement='right' uib-tooltip='{{connection.info.uri}}' tooltip-append-to-body='true')
        ul.nav.navmenu-nav(ng-show='connection.show')
          li(ng-repeat='api in connection.table | filter:filterTerm' ng-class="{ GET: 'api-get', POST: 'api-post', PUT: 'api-put', DELETE: 'api-delete' }[api.method]")
            a(ng-click='select(api)')
              | {{api.method}} {{api.path}}
              span.info {{api.description}}

    #canvas
      .navbar.navbar-default.navbar-fixed-top
        button.navbar-toggle(type="button" data-toggle="offcanvas" data-target="#mainMenu" data-canvas="#canvas")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        ul.nav.navbar-nav.navbar-right
          li
            a(ng-click='showKey=!showKey') API/AUTH KEY
      .header(ng-show='showKey')
        .container-fluid
          .row
            .col-sm-3
              input.form-control(ng-model='key.name' placeholder='API/AUTH key property name')
            .col-sm-5
              input.form-control(ng-model='key.value' placeholder='API/AUTH key value')
            .col-sm-4
              span Append using
              .dropdown(bs-dropdown bs-dropdown-display='How to Append' bs-dropdown-items='appendTypes' ng-model='key.type')
      #main
        .explorer(ng-show='current')
          .top-section
            .container-fluid
              .row
                .col-sm-12
                  .api
                    .input-group.input-group-lg
                      span.input-group-addon.method(ng-class="{ GET: 'api-get', POST: 'api-post', PUT: 'api-put', DELETE: 'api-delete' }[current.method]") {{current.method}}
                      input.form-control.path(ng-model='url' uib-tooltip='{{current.path}}' tooltip-placement='bottom')
                  .info
                    p.p-10 {{current.description}}
                    .tags
                      a.tag(ng-repeat="tag in current.tags track by $index" ng-click='tagIt(tag, $event)') {{tag}}
            a.btn.btn-circle(ng-click='post()')
              i.zmdi.zmdi-mail-send
          .bottom-section
            .container-fluid
              .row
                .col-sm-6
                  .form.card
                    .container-fluid
                      h5.m-t-20
                        | PAYLOAD PARAMS
                        .pull-right
                          i.zmdi.zmdi-plus-circle.add-btn(ng-click="payload.push({label: 'custom property', name: '', value: '', include: true})")
                      +fields('payload.splice($index, 1)')(ng-repeat="item in payload")
                      h5
                        | QUERY PARAMS
                        .pull-right
                          i.zmdi.zmdi-plus-circle.add-btn(ng-click="query.push({label: 'custom property', name: '', value: '', include: true})")
                      +fields('query.splice($index, 1)')(ng-repeat="item in query")
                .col-sm-6
                  .response.card
                    h4 RESPONSE
                    uib-tabset(active="active")
                      uib-tab(index="0" heading="data")
                        pre.json(json-tree="response.data" ng-show='response.data')
                        p.p-t-10(ng-hide='response.headers') Start making a request first.
                      uib-tab(index="1" heading="headers")
                        pre.json(json-tree="response.headers" ng-show='response.headers')
                        p.p-t-10(ng-hide='response.headers') Start making a request first.
        .top-section(ng-hide='current')
          .container-fluid
            .row
              .col-sm-12
                h4 API Explorer
                p Start exploring APIs in the left menu.
